# Prueba Técnica - Talento B
# Sobre TRM USD-COP
# Solución

### Santiago Galvis Duque

In [1]:
# Importando Librerias

# Para analisis de datos
import numpy as np 
import pandas as pd

# Para graficos
import matplotlib.pyplot as plt
import seaborn as sns

### Cargando Dataset desde carpeta Data

In [94]:
# Cargando el Dataframe con los datos de la tasa de cambio
df_ = pd.read_csv('../../Data/Tasa_de_Cambio_Representativa_del__Mercado_-Historico.csv')
df_ = df_.iloc[:1000] # Seleccionando solo las últimas 1000 filas

df = pd.DataFrame()
df.loc[:,'fecha'] = pd.to_datetime(df_['VIGENCIADESDE'], format='%d/%m/%Y')
df.loc[:,'fechaF'] = pd.to_datetime(df_['VIGENCIADESDE'], format='%d/%m/%Y').dt.strftime('%m-%Y')
df.loc[:,'valor'] = df_['VALOR'].round(4)
df.head()

       fecha   fechaF    valor
0 2024-11-23  11-2024  4418.58
1 2024-11-22  11-2024  4387.09
2 2024-11-21  11-2024  4414.06
3 2024-11-20  11-2024  4401.34
4 2024-11-19  11-2024  4400.69

         fecha   fechaF    valor
0   2024-11-23  11-2024  4418.58
1   2024-11-22  11-2024  4387.09
2   2024-11-21  11-2024  4414.06
3   2024-11-20  11-2024  4401.34
4   2024-11-19  11-2024  4400.69
..         ...      ...      ...
995 2020-09-12  09-2020  3709.00
996 2020-09-11  09-2020  3700.28
997 2020-09-10  09-2020  3717.25
998 2020-09-09  09-2020  3757.21
999 2020-09-05  09-2020  3702.62

[1000 rows x 3 columns]

In [8]:
Mask_es_Miercoles =  (df['fecha'].dt.day_of_week == 2)
df[Mask_es_Miercoles].max()

fecha     2024-11-20 00:00:00
fechaF                12-2023
valor                  5013.2
dtype: object

In [65]:
df_a_o_mes = df['valor'].groupby([df['fecha'].dt.year,df['fecha'].dt.month])
Media_mes = df_a_o_mes.mean().round(4)
# Media_mes.plot(kind='bar',figsize=(15,5))
Media_mes

fecha  fecha
2020   9        3768.1541
       10       3834.2186
       11       3675.2075
       12       3468.5038
2021   1        3503.1267
       2        3557.7874
       3        3616.6471
       4        3651.8530
       5        3741.9625
       6        3691.8284
       7        3833.9410
       8        3888.6680
       9        3821.7233
       10       3772.6070
       11       3904.7559
       12       3967.7709
2022   1        4002.1939
       2        3938.9458
       3        3805.5214
       4        3804.8820
       5        4030.6650
       6        3922.4980
       7        4389.3255
       8        4328.0324
       9        4435.9086
       10       4720.7358
       11       4931.3311
       12       4790.0370
2023   1        4702.3050
       2        4796.6363
       3        4760.9614
       4        4533.5584
       5        4536.8300
       6        4213.5270
       7        4061.5256
       8        4066.8705
       9        4007.9552
       10       4219.0521
       11       4037.5142
       12       3954.1405
2024   1        3926.3595
       2        3932.5550
       3        3905.1753
       4        3867.2505
       5        3864.4435
       6        4057.1267
       7        4028.2755
       8        4067.6181
       9        4195.1789
       10       4257.7641
       11       4414.0727
Name: valor, dtype: float64

In [76]:
# df['valor'].groupby()
Mask_mes_par = (df['fecha'].dt.month % 2 == 0)
df[Mask_mes_par]['valor'].groupby([df['fecha'].dt.year,df['fecha'].dt.month]).max()

fecha  fecha
2020   10       3881.80
       12       3591.84
2021   2        3624.39
       4        3717.46
       6        3784.45
       8        3988.27
       10       3812.77
       12       4023.68
2022   2        3965.41
       4        3984.77
       6        4129.87
       8        4413.86
       10       4968.94
       12       4836.24
2023   2        4966.33
       4        4669.00
       6        4434.09
       8        4144.79
       10       4386.66
       12       4045.22
2024   2        3975.74
       4        3964.59
       6        4175.96
       8        4184.30
       10       4413.46
Name: valor, dtype: float64

In [77]:
Cambio_diario =  df['valor'].diff(periods=-1)[:-1]
Cambio_diario

In [82]:
Cambio_diario_positivo = Cambio_diario > 0 
Cambio_diario_negativo = Cambio_diario < 0

Cambio_diario_positivo.sum(), Cambio_diario_negativo.sum()

(473, 526)